/* 
* Amazium V1.3
* Copyright 2012, Mike Ballan
* www.amazium.co.uk
*/								

/* #################### Screen 960px #################### */

.top			 					{ margin:0 auto; margin-top:30px; }	
.base								{ margin:0 auto; margin-bottom:40px; }	

/* header and navigation */
.header								{ 
									width: 100%; 
									text-align: center; 
									background: url('../images/patterns/bg_header.png'); 
									position: relative;
									}
.header .row						{ padding: 10px 0; }

/*.header .max-img 					{ width:100%; height:auto; }*/

.top_info							{margin-top: 2px;}

ul.nav								{									
									background: rgb(255, 255, 255) transparent; /* default fallback */
									background: rgba(255, 255, 255, 0.6); /* nice browsers */
									list-style:none;
									padding:0;
									font-family: florenceregular, "Century Gothic", Arial, sans-serif;
									text-align:center;
									text-transform:uppercase; 
									margin:50px 0; 
									padding:0; 
									font-size: 26px; 
									}	
									
ul.nav li								{ 
									margin:0 20px 0 0; 
									padding:0; 
									display:inline; 
									background-image:none; 
									}						
.nav a								{ color: #543019; display:inline-block; padding:10px; }
.nav a:hover 			 			{ color:#57a1d5; text-decoration: none; outline:0; }
.logo img 							{ margin: 10px 0 }

/* main body */

.row								{ padding: 50px 0 50px 0 }

.panel_1							{ background: url('../images/patterns/bg_panel_1.png') #F2F1EC; border-bottom: 1px solid #ddd}
.panel_2							{ background: url('../images/patterns/bg_panel_2.png') #F5F4F2; border-bottom: 1px solid #ddd; border-top: 1px solid #fff;}
.panel_3							{ background: url('../images/patterns/bg_panel_3.png') #EEECE5; border-bottom: 1px solid #ddd; border-top: 1px solid #fff;}
.panel_4							{ background: url('../images/patterns/bg_panel_4.png') #FBFAF4; border-bottom: 1px solid #ddd; border-top: 1px solid #fff;}
.panel_5							{ background: url('../images/patterns/bg_panel_1.png') #F2F1EC; border-bottom: 1px solid #ddd; border-top: 1px solid #fff;}

.footer								{ background: url('../images/patterns/bg_panel_5a.png') #ccc; border-bottom: 1px solid #ddd; border-top: 1px solid #fff;}



.panel_1							{ margin-top: -5px }
.panel_1 .row						{ padding-top: 45px }
							
.panel_1 img, .panel_2 img, 
.panel_4 img						{ 
									border: 7px solid #fff; 
									-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
									-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.3);
									box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.3);
									}

.panel_3 img						{ 
									border: 3px solid #fff; 
									max-width: 95%; 
									-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
									-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.2);
									box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.2);
									}
									
.panel_3.staff						{ border-top: none; margin-top: -5px; }	
.panel_2.programs					{ border-top: none; margin-top: -5px; }											

.quote								{
									font-family: deliciousroman, "Century Gothic" Arial, sans-serif;  
									font-size: 20px; 
									line-height: 1.25em;
									color:#57a1d5;
									margin: 0 0px 50px 0px;
									}
.attribution						{float: right;}

.staff_caption						{
									text-align: center; 
									font-family: deliciousroman, "Century Gothic", Arial, sans-serif; 
									color:#57a1d5;
									font-weight: bold;
									font-size: 18px;
									margin-top: 5px;
									}

.staff_caption.no_pic				{ margin-top: 25%;}									
.staff_position						{
									font-weight: normal;
									font-size: 16px;
									}
									
.row.main-staff						{ padding-bottom: 0px;}
.row.first-set						{ padding: 0 0 20px 0 }
.row.second-set, .row.third-set,
.row.fourth-set, row.fourth-set		{ padding: 0 0 20px 0 }
.row.last-set						{ padding: 0 0 50px 0 }

/* inside pages */

.row.staff, .row.programs			{ padding: 25px 0 25px 0; border-bottom: 1px dashed #ccc; }	
.row.staff.first, 
.row.programs.first					{ padding: 0px 0 25px 0; border-bottom: 1px dashed #ccc; }	
.panel_3.staff img					{margin: 0 20px 20px 0; max-width: 50%;}	
.row.staff_title					{ padding: 40px 0 0 0 }					
img.long-bio						{ padding-top: 40px }



/* #################### Screen Bigger than 960px #################### */
@media only screen and (min-width:1200px) {

.img-right  							{ float:right; margin:0 0 30px 30px; max-width: 40% }

/* header and nav */
.header .row							{ padding: 0; }
.grid_4.top_nav						{ width: 390px; }
.grid_4.logo 						{ width: 300px; }
.logo img 							{ margin: 15px 0 }
ul.nav								{ margin:60px 0 0 0; font-size: 30px; }
ul.nav li								{ 
									margin:0 40px 0 0; 
									padding:0; 
									display:inline; 
									}
ul.nav.left li, 
ul.nav.right li						{ margin-left: 17px}									

/* main body */
.quote 								{ margin: 0 110px 50px 110px; }
.panel_1 img, .panel_2 img, 
.panel_4 img							{ border: 10px solid #fff; }								
.panel_3 img							{padding: 0; margin: 0; border: 5px solid #fff; }	

.row.main-staff						{ padding-bottom: 0px;}
.row.first-set						{ padding: 0 0 20px 0 }
.row.second-set, .row.third-set,
.row.fourth-set, row.fourth-set		{ padding: 0 0 20px 0 }
.row.last-set						{ padding: 0 0 50px 0 }

/* inside pages */

.row.staff, .row.programs			{ padding: 35px 0 35px 0; border-bottom: 1px dashed #ccc; }
.row.staff.first					{ padding: 0px 0 35px 0; }		
.row.staff_title					{ padding: 40px 0 0 0 }					
.header .row							{ padding: 0; }
img.long-bio						{ padding: 0 }
.panel_3.staff img					{margin: 0 20px 20px 0; max-width: 50%;}			


/* span.example						{ 
									margin-bottom:5px; 
									padding:5px 0 5px 0; 
									background-color:#eee; 
									text-align:center; 
									width:100%; 
									display:block; 
									} */					
}


/* #################### Tablet (Smaller than 959px) #################### */
@media only screen and (min-width: 768px) and (max-width: 959px) {

ul.nav								{ margin:40px 0 0 0; font-size: 24px; }
ul.nav li							{ margin:0 10px 0 0; padding:0; display:inline; }

.img-left   						{ float:left; margin:0 30px 30px 0; max-width: 55% }
.img-right  						{ float:right; margin:0 0 30px 30px; max-width: 55% }
.img-left.welcome					{ max-width: 66% }

.example							{ margin:0; padding:0; }

}



/* #################### Phone (portrait 300px) #################### */
@media only screen and (max-width: 767px) {

/* main body */
h1									{ margin-bottom: 0px; }
.row								{ padding: 10px 0;}
.header .row							{ padding: 5px; }

ul.nav								{display:none;}
.grid_2_5.logo						{width: 100%}

.panel_3 img						{padding: 0; margin: 0 20px 20px 0; border: 10px solid #fff; max-width: 92%}	

/* inside pages */
.staff_title h1, .staff h1 			{margin-bottom: 0px;}

.row.staff							{ padding: 15px 0 10px 0; }
.row.staff.first					{ padding: 0px 0 10px 0; border-bottom: 0px}

.img-left   							{ float:left; margin:0 10px 10px 0; max-width: 100% }
.img-right  							{ float:right; margin:0 0 10px 10px; max-width: 100% }

.img-left.welcome					{ max-width: 100% }

.grid_6.staff						{ padding: 10px 0 10px 0; border-bottom: 1px dashed #ccc; }
.row.staff							{ padding: 0; border-bottom: none;}

.panel_3.staff img					{margin: 0 0 20px 0; max-width: 92%;}	

.example							{ margin:0; padding:0; }

}


	
/* #################### Phone (landscape 420px) #################### */
@media only screen and (min-width: 480px) and (max-width: 767px) {

.row								{ padding: 10px 0;}
.max-img 							{ width:auto; height:auto; max-width: 100%}
.grid_3								{ text-align: center; }

.img-left   							{ float:left; margin:0 10px 10px 0; max-width: 100% }
.img-right  							{ float:right; margin:0 0 10px 10px; max-width: 100% }

.grid_6.staff						{ padding: 10px 0 10px 0; border-bottom: 1px dashed #ccc; }
.row.staff							{ padding: 0; border-bottom: none;}

/* header and nav */
.header .row							{ padding: 0 0 10px 0;}
.logo 								{text-align: center;}	
.grid_2_5.logo						{width: 215px; margin: 5px 20px 0 20px}
ul.nav								{ display: list-item; margin:15px 0 0 0; font-size: 28px; background-color: transparent}
ul.nav li								{ margin:0 40px 0 0; padding:0; display:block; }

/* main body  */
.row.staff.first					{ padding: 0px 0 35px 0; }
img.long-bio						{ padding: 0px }

.img-left   							{ float:left; margin:0 30px 30px 0; max-width: 55% }
.img-right  							{ float:right; margin:0 0 30px 30px; max-width: 55% }

/* inside pages */
.panel_3.staff img					{margin: 0 20px 20px 0; max-width: 50%;}	

.example							{ margin:0; padding:0; }


}



/* #################### Retina #################### */
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {

.example							{ margin:0; padding:0; }

}
